// COLORS
$color-primary: orangered;

// FONTS
$font-stack: "Livvic", "Arial", sans-serif;

$hero-bg-color: #014E56;
$meet-bg-color: #004047;
$client-bg-color: #012F34;
$ready-bg-color: #F67E7E;
$footer-bg-color: #002529;
$main-text-color: #fff;
$meet-subtitle-color: #79C8C7;